---
title: Co-op Communities - Assemble
---

<h1>Assemble</h1>

<section id="questions" data-json="<%=escape_html(data.questions.to_json)%>">
  <% data.questions.questions.each.with_index do |question, index| %>
    <% if index.divmod(6)[1] == 0 %>
      <div id="page-<%= index.divmod(6).first + 1 %>" class="pages">
    <% end %>
    <fieldset class="survey" data-dimension="<%=question.dimension%>">
      <h2><%= question.title %></h2>
      <div class="form-scale">
        <h3><%= question.left %></h3>
        <h3><%= question.right %></h3>
        <div class="flexbox">
          <% (-3..3).to_a.each do |i| %>
            <label style="float: left;">
              <span><%= i %></span>
              <input type="radio" name="<%=question.title%>" value="<%= question.invert_score ? i * -1 : i%>" required="">
              <div>
              </div>
            </label>
          <% end %>
        </div>
        <section class="dont-know-block">
          <input id="dont-know-<%= index %>" class="dont-know" type="radio" value="0" name="<%=question.title%>">
          <label for="dont-know-<%= index %>" class="block-label">I don't know
          </label>
          <div class="indented" aria-hidden="false">
            <label class="block-label">
                <input type="radio" value="doesnt-apply" name="<%=question.title%>-reason-dont-know">Doesn't apply
            </label>
            <label class="block-label">
                <input type="radio" value="dont-understand" name="<%=question.title%>-reason-dont-know">Don't understand
            </label>
          </div>
        </section>
      </label>
      </div>
    </fieldset>
    <% if index.divmod(6)[1] == 5 %>
      <% if index == data.questions.questions.size - 1 %>
        <button class="btn btn-primary" type="submit" id="submit">Submit</button>
      <% else %>
        <button class="btn btn-primary next">Next</button>
      <% end %>
      </div>
    <% end %>
  <% end %>
</section>

<section id="response">
  <h1>Here is what you are</h1>
  <div class="results-panel">
    <canvas id="myChart"></canvas>
    <div class="reflection-block">
      <img src="<%= image_path '/images/control-icon.svg' %>" alt="Control">
      <p id="control_reflection"></p>
    </div>
    <div class="reflection-block">
      <img src="<%= image_path '/images/growth-icon.svg' %>" alt="Growth">
      <p id="growth_reflection"></p>
    </div>
    <div class="reflection-block">
      <img src="<%= image_path '/images/money-icon.svg' %>" alt="Money">
      <p id="money_reflection"></p>
    </div>
    <div class="reflection-block">
      <img src="<%= image_path '/images/democracy-icon.svg' %>" alt="Democracy">
      <p id="democracy_reflection"></p>
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Back</button>
</section>
