---
title: Co-op Communities - Assemble
---

<h1>Assemble</h1>

<section id="questions" data-json="<%=escape_html(data.questions.to_json)%>">
  <% data.questions.questions.each.with_index do |question, index| %>
    <fieldset class="survey" data-dimension="<%=question.dimension%>">
      <h2><%= question.title %></h2>
      <div class="form-scale">
        <h3><%= question.left %></h3>
        <h3><%= question.right %></h3>
        <div class="flexbox">
          <% (-3..3).to_a.each do |i| %>
            <label style="float: left;">
              <span><%= i %></span>
              <input type="radio" name="<%=question.title%>" value="<%= question.invert_score ? i * -1 : i%>" required="">
              <div>
              </div>
            </label>
          <% end %>
        </div>
        <section class="dont-know-block">
          <input id="dont-know-<%= index %>" class="dont-know" type="radio" value="0" name="<%=question.title%>">
          <label for="dont-know-<%= index %>" class="block-label">I don't know
          </label>
          <div class="indented" aria-hidden="false">
            <label class="block-label">
                <input type="radio" value="doesnt-apply" name="<%=question.title%>-reason-dont-know">Doesn't apply
            </label>
            <label class="block-label">
                <input type="radio" value="dont-understand" name="<%=question.title%>-reason-dont-know">Don't understand
            </label>
          </div>
        </section>
      </label>
      </div>
    </fieldset>
  <% end %>
  <button class="btn btn-primary" type="submit">Submit</button>
</section>

<section id="response">
  <h1>Here is what you are</h1>
  <canvas id="myChart"></canvas>

  <p id="control_reflection"></p>
  <p id="growth_reflection"></p>
  <p id="money_reflection"></p>
  <p id="democracy_reflection"></p>

  <button class="btn btn-primary" type="submit">Back</button>
</section>
