---
title: Co-op Communities - Assemble
---

<section id="questions" data-json="<%=escape_html(data.questions.to_json)%>">
  <% data.questions.questions.shuffle.each.with_index do |question, index| %>
    <% if index.divmod(6)[1] == 0 %>
      <div id="page-<%= index.divmod(6).first + 1 %>" class="pages">
    <% end %>
    <fieldset class="survey" data-dimension="<%=question.dimension%>">
      <h2><%= question.title %></h2>
      <div class="form-scale">
        <h3><%= question.left %></h3>
        <h3><%= question.right %></h3>
        <div class="flexbox">
          <% (-3..3).to_a.each do |i| %>
            <label style="float: left;">
              <span><%= i %></span>
              <input type="radio" name="<%=question.title%>" value="<%= question.invert_score ? i * -1 : i%>" required="">
              <div>
              </div>
            </label>
          <% end %>
        </div>
        <section class="dont-know-block">
          <input id="dont-know-<%= index %>" class="dont-know" type="radio" value="0" name="<%=question.title%>">
          <label for="dont-know-<%= index %>" class="block-label">I don't know
          </label>
          <div class="indented" aria-hidden="false">
            <label class="block-label">
                <input type="radio" value="doesnt-apply" name="<%=question.title%>-reason-dont-know">Doesn't apply
            </label>
            <label class="block-label">
                <input type="radio" value="dont-understand" name="<%=question.title%>-reason-dont-know">Don't understand
            </label>
          </div>
        </section>
      </label>
      </div>
    </fieldset>
    <% if index.divmod(6)[1] == 5 %>
      <% if index == data.questions.questions.size - 1 %>
        <button class="btn btn-primary" type="submit" id="submit">Submit</button>
      <% else %>
        <button class="btn btn-primary next">Next</button>
      <% end %>
      </div>
    <% end %>
  <% end %>
</section>

<section id="response">
  <h1>Here is what you are</h1>
  <div class="results-panel">
    <canvas id="myChart"></canvas>
    <div class="reflection-block">
      <img src="<%= image_path '/images/control-icon.svg' %>" alt="Control">
      <p id="control_reflection"></p>
    </div>
    <div class="reflection-block">
      <img src="<%= image_path '/images/growth-icon.svg' %>" alt="Growth">
      <p id="growth_reflection"></p>
    </div>
    <div class="reflection-block">
      <img src="<%= image_path '/images/money-icon.svg' %>" alt="Money">
      <p id="money_reflection"></p>
    </div>
    <div class="reflection-block">
      <img src="<%= image_path '/images/democracy-icon.svg' %>" alt="Democracy">
      <p id="democracy_reflection"></p>
    </div>
  </div>

  <section class="recommendations-block">
    <h2>Ways you might want to formalise</h2>
    <div id="co-op" class="recommendation">
      <h3>Co-operative society</h3>
      <p>A co-operative society is run and owned by its members. It’s the best structure if democracy is important to you. Co-operatives must have at least three members. They are regulated by the financial services authority (FSA).</p>

      <p>Running a co-operative means you don’t have the entrepreneurial freedom that some other models have, such as a community interest company (CIC).</p>
    </div>

    <div id="ltd-by-shares" class="recommendation">
      <h3>Company limited by shares</h3>
      <p>A company limited by shares is controlled by directors - they decide what the company does and how it does it. These directors can be paid which encourages entrepreneurial drive as the directors benefit financially from company’s success.</p>

      <p>Growth is high as the need to be self-financing can lead the company to look towards growth in order to increase their ability to be sustainable and to pay a dividend to their directors.</p>

      <p>As directors control everything, they take on more responsibility and they are more legally liable. This means that members have less of a say in what the company does and how.</p>
    </div>

    <div id="charity" class="recommendation">
      <h3>Charity</h3>
      <p>A charity is run by a board of volunteer trustees who must act and make decisions as a group, not individually. Charities must be registered with the Charity Commission.</p>

      <p>Charitable law states that trustees cannot be paid and rules about what charities can do to fund themselves may impact on entrepreneurial aims.</p>

      <p>There are significant restrictions on what trading charities can do.</p>
    </div>

    <div id="cic" class="recommendation">
      <h3>Community interest company (CIC)</h3>
      <p>A community interest company (CIC) must pass a ‘community interest test’ that looks at its underlying social motives. The CIC structure allows for democratic ownership and means you can choose a not-for-profit and commercial business model. All the value in the business can only be used for public good or community benefit - it cannot be used for the private benefit of the members.</p>

      <p>The CIC structure means there is lots of freedom for entrepreneurial activity, and directors can be paid. However, it can be difficult to raise money through donations and may restrict you from applying for certain funding streams.</p>

      <p>A CIC can pay dividends, although dividends paid to private companies are subject to a cap.</p>

      <p>Freedom for entrepreneurial activity and share options may make it easier for you for attract alternative revenue streams for growth (such as giving shares to private companies).</p>

      <p>A CIC is run controlled by directors - they decide what the company does and how it does it. There are a number of obligations that at a CIC has to meet in addition to those imposed on an ordinary company.</p>
    </div>
  </section>

  <button class="btn btn-primary" type="submit">Back</button>
</section>
